html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  /* padding: 10px env(safe-area-inset-right) 0 env(safe-area-inset-left); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rc-slider-disabled {
  background-color: transparent !important;
}

.app-container {
  /* add padding for iphone notch if needed */
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}